.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper>*:nth-child(1) {
    flex: 1
}

.wrapper>*:nth-child(2) {
    flex: 14
}

.row {
    list-style: none
}

.row>li {
    display: inline-block
}

.row>li:hover {
    background-color: yellow
}

.row>li.hidden {
    display: none
}

.select {
    background-color: yellow
}

.content {
    display: flex
}

.content>* {
    display: none
}

.content>*.visible {
    display: inherit;
    flex: 1
}