.wrapper {
    display: flex;
}

.wrapper>*:nth-child(1) {
    flex: 3
}

.wrapper>*:nth-child(2) {
    flex: 5
}

.row {
    list-style: none
}

.row>li {
    display: inline-block
}

.raceList>li>*:nth-child(1) {
    display: none
}

.raceList>li:hover {
    background-color: yellow
}

.raceList>li:hover>*:nth-child(1) {
    display: inherit
}

.raceSelect {
    background-color: yellow
}

.raceSelect>*:nth-child(1) {
    display: inherit
}

.ageList>li:hover {
    background-color: yellow
}

.ageSelect {
    background-color: yellow
}